{% extends 'base.template.html' %}
{% block title %}
    Rule of 72
{% endblock%}
{%block content%}
<div class="container-fluid mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid" id="home-jumbo">
        <div class="container" id="home-jumbo-text">
            <h1 class="display-4">Welcome to the Rule Of 72</h1>
            <p class="lead">Jump start your investing journey with our excellent community created courses and immerse yourself in the community with over 5000 members!</p>
        </div>
        <div>
            {% if not request.user.is_authenticated %}
            <a class="btn account-btn" href="{% url 'account_login' %}">Login</a>
            <a class="btn account-btn" href="{% url 'account_signup' %}">Register</a>
            {%endif%}
            {% if request.user.is_authenticated %}
            <a class="btn account-btn" href="{% url 'account_logout' %}">Sign Out</a>
            {%endif%}
        </div>
    </div>
    <div class="container-fluid home-intro d-block d-lg-inline-flex">
        <a href="{% url 'all_lesson_route' %}"><p class="home-intro-text">Learn 100+ different financial courses at an affordable price.</p></a>
        <a href="{% url 'all_lesson_route' %}"><p class="home-intro-text">Voted most friendly for beginners 5 years in a row!</p></a>
        <a href="{% url 'all_lesson_route' %}"><p class="home-intro-text">One of the largest forums available!</p></a>
    </div>
</div>









{%endblock%}