{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Create a forum topic
{% endblock%}
{% block content %}
<div class="container mt-5 mb-5" id="all-lessons-container">
    <h1>Create a Forum Topic</h1>
    <form method="POST" action="{% url 'create_forum_route' lesson_id=lesson.id %}">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn create-btn"/>
    </form>
    <a href="{% url 'show_forum_route' lesson_id=lesson.id %}" class="btn create-btn">No</a>
</div>
{%endblock%}