{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Create comment for: {{topic.title}}
{% endblock%}
{% block content %}
<h1>Comment on "{{topic.title}}"</h1>

<form method="POST" action="{% url 'create_comment_route' lesson_id=lesson.id topic_id=topic.id %}">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Comment"/>
</form>

<a href="{% url 'specific_topic_route' lesson_id=lesson.id topic_id=topic.id %}" class="btn btn-primary">No</a>

{%endblock%}