{% extends 'base.template.html' %}
{% block title %}
    {{lesson.topic}}'s discussion: {{discussion.title}}
{% endblock%}
{% block content %}
<div class="container mt-5 mb-5" id="all-lessons-container">
    <h1 class="mb-2">{{lesson.topic}}'s discussion:</h1>
    <div class="card lesson-card" style="color:black; text-align:center;">
        <h3> {{discussion.title}}</h3>
        <hr class="my-4">
        {{discussion.content}}
    </div>
    <a href="{% url 'create_comment_route' lesson_id=lesson.id topic_id=discussion.id %}" class="btn create-btn w-50">Comment on this discussion!</a>
    {% for r in discussion.forum_comment_set.all %}
    <div class="card lesson-card mt-5 mb-5">
        <h3 style="color:black; text-align:center;" class="mt-2"><b>{{r.title}}</b></h3>
        <hr class="my-4">
        <p style="color:black; text-align:center;">{{r.content}}</p>
        <hr class="my-4">
        <p style="color:black; text-align:center;"><b>{{r.commenter}}</b> commented on {{r.date_created}}</p>
        {% if request.user == r.commenter %}
        <a href="{% url 'update_comment_route' lesson_id=lesson.id topic_id=discussion.id comment_id=r.id %}" class="btn edit-btn">Edit</a>
        <a href="{% url 'delete_comment_route' lesson_id=lesson.id topic_id=discussion.id comment_id=r.id %}" class="btn delete-btn">Delete</a> 
        {%endif%}
    </div>
    {%endfor%}
</div>
{%endblock%}