/* home page css */
body{
    margin: 0;
    padding: 0;
    background-image: url("/static/72bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100vw;
    min-height: 100vh;
}

/* .main-bg {
    position: relative;
    height: 150vh;
    width: 100vw;
}

.main-bg::before{
    content: "";
    background-image: url("/static/72bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
} */

#home-jumbo{
    height: 60vh;
    width: auto;
    background-color: black;
    opacity: 0.9;
    padding-top: 10%;
    margin-top: 0;
    text-align: center;
    color: #F7F7FF;
    border: 3px white solid;
}

.account-btn{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #F7F7FF;
    opacity: 0.9;
    margin: 2%;
    font-weight: bold;
}

.account-btn:hover {
    background-color: #577399;
    color: black;
    box-shadow: 0 0 6px 6px white;
}

.home-intro {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

.home-intro-text {
    padding: 100px 5% 0 5%;
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
    opacity: 0.9;
    height: 300px;
    width: 300px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #F7F7FF;
    margin: 0;
    margin-top: 5vh;
}

@media only screen and (max-width: 1000px) {
    body {
    margin: 0;
    padding: 0;
    background-image: url("/static/72bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

  .home-intro-text {
      margin: 2% auto;
  }
}

@media only screen and (max-width: 600px) {
    .home-intro {
        margin-top: 5%;
    }

    #home-jumbo {
        height: 80vh;
        width: auto;
        background-color: black;
        opacity: 0.9;
        padding-top: 10%;
        margin-top: 0;
        text-align: center;
        color: #F7F7FF;
        border: 3px white solid;
    }
}

@media only screen and (max-width: 360px) {
    .home-intro-text {
        width: 200px;
        height: 200px;
        font-size: 0.5em;
    }

    #home-jumbo {
        height: 110vh;
        width: auto;
        background-color: black;
        opacity: 0.9;
        padding-top: 10%;
        margin-top: 0;
        text-align: center;
        color: #F7F7FF;
        border: 3px white solid;
    }
}

.home-intro-text:hover {
    background-color: #BDD5EA;
    color: black;
    box-shadow: 0 0 10px 10px black;
}

/* logout page */

.lout-style {
    background-color:black;
    height: 40vh;
    width: 30vw;
    opacity: 0.9;
    margin-top: 10%;
    padding: 5% 5% 5% 10%;
    color: white;
    border: 3px white solid;
    line-height: 3em;
    text-decoration: none;
}

.account-btn a{
    color: black;
}

/* sign in page */

.lin-style {
    background-color:black;
    height: 60vh;
    width: 50vw;
    opacity: 0.9;
    margin-top: 10%;
    padding: 5% 5% 5% 10%;
    color: white;
    border: 3px white solid;
    line-height: 3em;
}

/* all lessons page */

#all-lessons-container {
    background-color:black;
    min-height: 100vh;
    width: 80vw;
    opacity: 0.9;
    padding: 5% 5% 5% 5%;
    line-height: 3em;
    color: white;
}

.create-btn {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #a9def9;
    opacity: 0.9;
    margin: 2%;
    font-weight: bold;
}

.create-btn a{
    color: black;
}

.create-btn:hover{
    background-color: #577399;
    color: black;
    box-shadow: 0 0 6px 6px white;
}

.lesson-card {
    border: 3px white solid !important;
    height: 100%;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}
