{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Welcome to the Forum for {{lesson.topic}}</h1>
    <a href="{% url 'create_forum_route' lesson_id=lesson.id %}">Create a Discussion</a>
    <ul>
      {% for discussion in discussions %}
        <div>
            <li>
            <a href="{% url 'show_forum_route' lesson_id=discussion.id %}">{{discussion.title}}</a>
                <a href="{% url 'update_forum_route' topic_id=discussion.id %}" class="btn btn-primary">Edit</a>
                 
            </li>
        </div>
      {% endfor %}
      
            
    </ul>

{%endblock%}