{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Welcome to the Forum</h1>
    <a href="{% url 'create_forum_route' lesson_id=lesson.id %}">Create a Discussion</a>
    <ul>
      {% for each_forum in all_forums %}
        <div>
            <li>
            <a href="{% url 'specific_forum_route' forum_id=each_forum.id %}">{{each_forum.title}}</a>
                <a href="{% url 'update_forum_route' forum_id=each_forum.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_forum_route' forum_id=each_forum.id %}" class="btn btn-warning">delete</a> 
            </li>
        </div>
      {% endfor %}
      
            
    </ul>

{%endblock%}