{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Lessons</h1>
    <ul>
      {% for each_lesson in all_lessons %}
      <li>
      <a href="{% url 'specific_lesson_route' lesson_id=each_lesson.id %}">{{each_lesson.topic}}</a>
            <a href="{% url 'update_lesson_route' lesson_id=each_lesson.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_lesson_route' lesson_id=each_lesson.id %}" class="btn btn-warning">delete</a> 
      </li>
      {% endfor %}
    </ul>

{%endblock%}