{% extends 'base.template.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
{% block title %}
    My purchased lessons
{% endblock%} 
{% block content %}
<div class="container mt-5 mb-5" id="all-lessons-container">
    <h1>My Purchased Lessons</h1>
{% if all_lessons %}
    {% for each_lesson in all_lessons %}
    <div class="row row-cols-1 row-cols-lg-2 d-flex justify-content-center align-items-center mt-3">
        <div class="card lesson-card" style="width: 18rem;">
        {% cloudinary each_lesson.lesson_purchased.picture class="card-img-top" %}
        <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">
            {{each_lesson.lesson_purchased.topic}}
            </h5>
            <hr class="my-4" />
            <div id="accordion_{{each_lesson.lesson_purchased.id}}">
            <div class="card">
                <div class="card-header" id="intro_{{each_lesson.lesson_purchased.id}}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{each_lesson.id}}" aria-expanded="false" aria-controls="collapse_{{each_lesson.lesson_purchased.id}}">
                    Introduction
                    </button>
                </h5>
                </div>

                <div id="collapse_{{each_lesson.lesson_purchased.id}}" class="collapse" aria-labelledby="intro_{{each_lesson.lesson_purchased.id}}" data-parent="#accordion_{{each_lesson.lesson_purchased.id}}">
                <div class="card-body">
                    <p class="card-text text-center">
                    About this Lesson: {{each_lesson.lesson_purchased.introduction}}
                    </p>
                </div>
                </div>
            </div>
            <hr class="my-4" />
            <p class="card-text text-center">Price: ${{each_lesson.lesson_purchased.price}}</p>
            <hr class="my-4" />
            <a href="{% url 'specific_lesson_route' lesson_id=each_lesson.lesson_purchased.id %}" class="btn create-btn">Details</a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
{%else%}
   <div class="d-flex justify-content-center mt-5"><h3>You have not purchased any lesson yet. Lets change that!</h3></div><a href="{% url 'all_lesson_route' %}" class="btn create-btn w-100">Lessons</a>
{%endif%} 
{%endblock%}
</div>