{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Purchased Lessons</h1>
    <ul>
      {% for each_lesson in lessons %}
        <div>
            <li>
            <a href="{% url 'specific_lesson_route' lesson_id=each_lesson.lesson_purchased.id %}">{{each_lesson.lesson_purchased.topic}}</a>
                {% for s in each_lesson.lesson_purchased.sub_topic_set.all %}
                    {{s.title}}
                {% endfor %}
                {% if request.user == each_lesson.teacher %}
                    <a href="{% url 'update_lesson_route' lesson_id=each_lesson.lesson_purchased.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_lesson_route' lesson_id=each_lesson.lesson_purchased.id %}" class="btn btn-warning">delete</a>
                {%endif%}
            </li>
        </div>
      {% endfor %}    
    </ul>

{%endblock%}