{% extends 'base.template.html' %}

{% block content %}
<div class="container" id="all-lessons-container">
    <h1>{{lesson.topic}}</h1>
    {% if request.user == lesson.teacher %}
    <a class="btn create-btn w-100" href="{% url 'add_sub_topic_route' lesson_id=lesson.id %}">Add a topic</a>
    {%endif%}
    <a class="btn create-btn w-100" href="{% url 'show_forum_route' lesson_id=lesson.id%}">View Discussions</a>
    {% if lesson.sub_topic_set.all %}
        {% for r in lesson.sub_topic_set.all %}
        <div class="row row-cols-1 row-cols-lg-2 d-flex justify-content-center align-items-center mt-3 mb-3">
            <div class="card lesson-card" style="width: auto;">
                <iframe src="{{r.video}}" frameborder="0" allowfullscreen height="auto" width="auto"></iframe>
                <h3 class="card-text text-center">{{r.title}}</h3>
                <p class="card-text text-center">{{r.content}}</p>
                {% if request.user == r.lesson.teacher %}
                <a class="btn create-btn w-100" href="{% url 'update_sub_topic_route' sub_topic_id=r.id lesson_id=lesson.id %}">Edit</a>
                <a class="btn create-btn w-100" href="{% url 'delete_sub_topic_route' sub_topic_id=r.id lesson_id=lesson.id %}">Delete</a>
                {%endif%}
            </div>
        </div>
        {%endfor%}
    {%elif request.user == lesson.teacher%}
        <h3 class="d-flex justify-content-center mt-5">There's nothing here. Please add a topic.</h3>
    {%else%}
        <h3 class="d-flex justify-content-center mt-5">The creator has not added in any lessons. Please check back at a later date.</h3>
    {%endif%}
</div>
{%endblock%}